/* Genel stil */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  font-family: "Dancing Script", cursive;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  align-items: center;
  transition: background-color 0.3s ease;
}

.navbar.dark {
  background-color: #353434;
  color: #fff;
}
.navbar .links a:hover {
  text-decoration: underline;
}

.navbar .logo {
  font-size: 40px;
  text-decoration: none;
  color: #ffffff;
}
.logo:hover {
  color: #0077ff;
}

.navbar .links {
  display: flex;
  align-items: center;
}

.navbar .links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-size: 35px;
}

.navbar .links a.active {
  font-weight: bold;
  color: #0077ff;
}

.navbar.dark .links a {
  color: #fff;
}

.navbar .icon {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

body.dark {
  background-color: #353434;
  color: #fff;
}

.navbar .icon-moon {
  color: #333; /* Light mode'da moon rengi */
}

.navbar .icon-sun {
  color: #fff; /* Dark mode'da sun rengi */
}

.navbar.dark .icon-moon {
  color: #fff; /* Dark mode'da moon rengi */
}

.navbar.dark .icon-sun {
  color: #333; /* Light mode'da sun rengi */
}
